# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log
fantasy_pl/migrations/

# venv
fpl_venv

# other
.DS_Store
.idea/
.vscode

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
data.json
.git_
secrets.json

##### Temporary ignore
# core