{% extends "layouts/base-fullscreen.html" %}

{% block title %} Reset Password {% endblock %}

{% block content %}

    <style type="text/css">
        .text-error {
        }
    </style>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-mail auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Change Password</h3>
                    {% if messages %}
                        {% for message in messages %}
                            <p class="m-0 text-c-red">{{ message }}</p>
                            <br>
                        {% endfor %}
                    {% else %}
                        <p> Use form below to set your new password. </p>
                    {% endif %}

                    <form role="form" method="post" novalidate>

                        {% csrf_token %}                    

                        <div class="form-group">
                            {{ form }}
                        </div>
                        <span class="text-error">{{ form.errors }}</span>

                        <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4">Change</button>

                    </form>
                    <p class="mb-0 text-muted">Change your mind? <a href="{% url 'fpl:home' %}">Back home</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
