{% extends "layouts/base-fullscreen.html" %}

{% block title %} Reset Password {% endblock %}

{% block content %}

    <style type="text/css">
        .text-error {
        }
    </style>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-mail auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Change Password</h3>
                        Your password has been changed!
                    <br>
                    <p class="mb-0 text-muted">Back to <a href="{% url 'fpl:home'%}" >Back home</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
