{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}

    <style type="text/css">
        .text-error {}
    </style>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Login</h3>
                    {% if messsages %}
                        <span class="mb-0 text-muted">
                            {% for m in messages%}
                                {{ m|safe }}
                            {% endfor %}
                        </span>
                    {% endif %}
                    <span class="mb-0 text-muted">
                        <h4>Test user:</h4>
                        <h6>Login: Test</h6>
                        <h6>Pass:  Test123!</h6>
                    </span>
                    <form role="form" method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button type="submit" name="login" class="btn btn-primary shadow-2 mb-4">Login</button>
                    </form>
                    <p class="mb-0 text-muted">Don’t have an account? <a href="{% url 'auth:register' %}">Signup</a></p>
                    <p class="mb-0 text-muted">Don’t remember password? <a href="{% url 'auth:password_reset' %}">Reset Password</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
