{% extends "layouts/base-fullscreen.html" %}

{% block title %} Reset Password {% endblock %}

{% block content %}

    <style type="text/css">
        .text-error {
        }
    </style>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-mail auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Reset Password</h3>
                    <p> We've emailed you instructions for setting your password,
                        if an account exists with the email you entered.
                        You should receive them shortly.<br><br>If you don't receive
                        an email, please make sure you've entered the address
                        you registered with, and check your spam folder.</p>
                    <br>
                    <p class="mb-0 text-muted">Back to <a href="{% url 'fpl:home' %}" >Home page</a></p>
                    <p class="mb-0 text-muted">Nothing?  <a href="{% url 'auth:password_reset' %}" >Try again</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
