{% extends "dashboard/base.html" %}
{% load static %}

{% block extrahead %}

<!-- Timeline CSS -->
<link href="{% static "dist/css/timeline.css" %}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{% static "bower_components/morrisjs/morris.css" %}" rel="stylesheet">

{% endblock extrahead %}


{% block content %}
    
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        {% if team %}
        <div class="panel panel-zielony">
            <div class="panel-heading">
                <i class="fa fa-users fa-fw"></i> Random Team - {{ team.name }}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="pull-left col-lg-6">
                    <div>
                        <div class="panel">
                            <div class="panel-heading" style='background-color: #ffffff; color: #000000'>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <a href="{% url 'fpl:team' team.id 'id'%}">
                                            <img style='height: 70px; width: auto; object-fit: contain; display: block' src="{{photo}}">
                                        </a>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <div class="huge">{{team.short_name}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-list fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ team.points }}</div>
                                        <div>Points</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-trophy fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{team.position}}</div>
                                        <div>Position</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ cnt }}</div>
                                        <div>Players</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-star fa-fw"></i>Strength
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                    Form
                                    <span class="pull-right text-muted"><em>{{team.form}}</em>
                                    </span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> Strength
                                    <span class="pull-right text-muted">
                                        {% with ''|center:team.strength as range %}
                                            {% for i in range %}
                                                <i class="fa fa-star fa-fw"></i>
                                            {% endfor %}
                                        {% endwith %}
                                    </span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> Strength overall home
                                    <span class="pull-right text-muted"><em>{{team.strength_overall_home}}</em>
                                    </span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> Strength overall away
                                    <span class="pull-right text-muted"><em>{{team.strength_overall_away}}</em>
                                    </span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> Strength attack home
                                    <span class="pull-right text-muted"><em>{{team.strength_attack_home}}</em>
                                    </span>
                                </div>
                            <div class="list-group-item">
                                <i class="fa fa-star fa-fw"></i> Strength attack away
                                <span class="pull-right text-muted"><em>{{team.strength_attack_away}}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                <i class="fa fa-star fa-fw"></i> Strength defence home
                                <span class="pull-right text-muted"><em>{{team.strength_defence_home}}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                <i class="fa fa-star fa-fw"></i> Strength defence away
                                <span class="pull-right text-muted"><em>{{team.strength_defence_away}}</em>
                                </span>
                            </div>
                        </div>
                    </div>
                <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                </div>
            </div>

            <!-- /.panel-body -->
        </div>
        {% endif %}
        <!-- /.panel -->
        {% if player %}
        <div class="panel panel-zielony">
            <div class="panel-heading">
                <i class="fa fa-user fa-fw"></i> Random Player - {{ player }}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="pull-left col-lg-6">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading" style='background-color: #ffffff; color: #000000'>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <a href="{% url 'fpl:team' tp.id 'id'%}">
                                            <img style='height: 70px; width: auto; object-fit: contain; display: block' src="{{tpphoto}}">
                                        </a>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <div class="huge">{{tp.short_name}}</div>
                                        <div>Team</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-user fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ player.position }}</div>
                                        <div>Position</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-money fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{player.now_cost}}</div>
                                        <div>Cost</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-bar-chart-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{player.points_per_game}}</div>
                                        <div>Points per game</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pull-right col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-star fa-fw"></i>
                            <a href="{% url 'fpl:player' player.id %}">
                                {{ player }}
                            </a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> Goals scored
                                    <span class="pull-right text-muted"><em>{{player.goals_scored}}</em>
                                    </span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> Assists
                                    <span class="pull-right text-muted"><em>{{player.assists}}</em>
                                    </span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> Minutes played
                                    <span class="pull-right text-muted"><em>{{player.minutes}}</em>
                                    </span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> Influence
                                    <span class="pull-right text-muted"><em>{{player.influence}}</em>
                                    </span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> Creativity
                                    <span class="pull-right text-muted"><em>{{player.creativity}}</em>
                                    </span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> Threat
                                    <span class="pull-right text-muted"><em>{{player.threat}}</em>
                                    </span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> Total points
                                    <span class="pull-right text-muted"><em>{{player.total_points}}</em>
                                    </span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> Form
                                    <span class="pull-right text-muted"><em>{{player.form}}</em>
                                    </span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> Selected by
                                    <span class="pull-right text-muted"><em>{{player.selected_by_percent}}</em>
                                    </span>
                                </div>
                        </div>
                    </div>
                <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                </div>
            </div>

            <!-- /.panel-body -->
        </div>
        {% endif %}
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    {% if stat %}
    <div class="col-lg-4">
        <div class="panel panel-zielony">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Random stats - {{name_stat}}
            </div>
            <!-- /.panel-heading -->
            <div>
                <div class="panel-body">
                <div class="row">
                    <div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-star fa-fw"></i></th>
                                        <th>Name</th>
                                        <th>Team</th>
                                    </tr>
                                </thead>
                                    {% for s in stat %}
                                        <tr>
                                            <td> {{ s.stat }} </td>
                                            <td>
                                                <a style='color: #000000' href="{% url 'fpl:player' s.id %}">{{ s.name }}</a>
                                            </td>
                                            <td>{{ s.team }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
            </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div class="chat-panel panel panel-zielony">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>
                Chat
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a href="#">
                                <i class="fa fa-refresh fa-fw"></i> Refresh
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-check-circle fa-fw"></i> Available
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-times fa-fw"></i> Busy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-clock-o fa-fw"></i> Away
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out fa-fw"></i> Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="chat">
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Jack Sparrow</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                </small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                    <li class="right clearfix">
                        <span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <small class=" text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Jack Sparrow</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                    <li class="right clearfix">
                        <span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <small class=" text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat">
                            Send
                        </button>
                    </span>
                </div>
            </div>
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel .chat-panel -->
    </div>
    {% endif %}
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->

{% endblock content %}


{% block extrajs %}


{% endblock extrajs %}