{% extends "dashboard/base.html" %}


{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <span>Received Messages</span>
            <a href="{% url 'fpl:sent_message' %}">
                <span class="pull-right text-muted">Sent Messages</span>
            </a>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="row">
        <div class="col-lg-12">
        {% for m in messages %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ m.id }}">
                        <strong>{{ m.sender }}</strong> - {{ m.subject }}
                        <span class="pull-right text-muted">
                            <em>{{ m.date_sent }}</em>
                        </span>
                    </a>
                </div>
                <div id="{{ m.id }}" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body">
                        <p>{{ m.content }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}