{% extends "dashboard/base.html" %}
{% load static %}

{% block extrahead %}

<!-- Timeline CSS -->
<link href="{% static "dist/css/timeline.css" %}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{% static "bower_components/morrisjs/morris.css" %}" rel="stylesheet">

{% endblock extrahead %}


{% block content %}
    
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Send Message</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel-body">
            <div class="row form-group">
                {% if success %}
                    <div class="alert alert-success">
                        {{ success }}
                    </div>
                {% endif %}
                {% if failure %}
                    <div class="alert alert-danger">
                        {{ failure }}
                    </div>
                {% endif %}
                <form action="{% url 'fpl:send_message' %}" method="post">
                    <div>
                        {% csrf_token %}
                        {{form.as_p}}
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-zielony" type="submit">
                            <i class="fa fa-mail-forward">Send</i>
                        </button>
                    </span>
                </form>
            </div>
        </div>
        <!-- /.panel-body -->
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
</div>
<!-- /.row -->

{% endblock content %}


{% block extrajs %}


{% endblock extrajs %}