{% extends "dashboard/base.html" %}
{% load static %}

{% block extrahead %}

<!-- Timeline CSS -->
<link href="{% static "dist/css/timeline.css" %}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{% static "bower_components/morrisjs/morris.css" %}" rel="stylesheet">

{% endblock extrahead %}


{% block content %}
    
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Statistics</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-zielony">
            {# Panel heading #}
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Season Stats
            </div>
            {# Table content #}
            <div class="panel-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="tableStats">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Goals</th>
                                    <th>Assists</th>
                                    <th>G+A</th>
                                    <th>Yel. cards</th>
                                    <th>Red cards</th>
                                    <th>Own Goals</th>
                                    <th>Cl. sheet</th>
                                    <th>Saves</th>
                                    <th>Minutes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in stats %}
                                <tr>
                                    <td>
                                        <a href="{% url 'fpl:player' s.id %}" style="color:#000000">{{ s }} ({{ s.team.short_name }})</a>
                                    </td>
                                    <td>{{ s.goals_scored }}</td>
                                    <td>{{ s.assists }}</td>
                                    <td>{{ s.goals_scored|add:s.assists }}</td>
                                    <td>{{ s.yellow_cards }}</td>
                                    <td>{{ s.red_cards }}</td>
                                    <td>{{ s.own_goals }}</td>
                                    <td>{{ s.clean_sheets }}</td>
                                    <td>{{ s.saves }}</td>
                                    <td>{{ s.minutes }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}

<!-- DataTables JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    $('#tableStats').DataTable({
       "info":     false
    });
} );
</script>

{% endblock extrajs %}