<div id="example_wrapper" class="dataTables_wrapper">
    <div class="dataTables_length" id="example_length">
        <label>Show
            <select name="example_length" aria-controls="example" class="">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select> entries
        </label>
    </div>
    <div id="example_filter" class="dataTables_filter">
        <label>Search:
            <input type="search" class="" placeholder="" aria-controls="example">
        </label>
    </div>
    <table id="example" class="display dataTable" style="width: 100%;" role="grid" aria-describedby="example_info">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending"
                    aria-label="Name: activate to sort column descending" style="width: 131px;">Name</th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                    aria-label="Position: activate to sort column ascending" style="width: 210px;">Position</th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                    aria-label="Office: activate to sort column ascending" style="width: 98px;">Office</th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                    aria-label="Age: activate to sort column ascending" style="width: 41px;">Age</th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                    aria-label="Start date: activate to sort column ascending" style="width: 88px;">Start date</th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                    aria-label="Salary: activate to sort column ascending" style="width: 76px;">Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row" class="odd">
                <td class="sorting_1">Gloria Little</td>
                <td>Systems Administrator</td>
                <td>New York</td>
                <td>59</td>
                <td>2009/04/10</td>
                <td>$237,500</td>
            </tr>
            <tr role="row" class="even">
                <td class="sorting_1">Haley Kennedy</td>
                <td>Senior Marketing Designer</td>
                <td>London</td>
                <td>43</td>
                <td>2012/12/18</td>
                <td>$313,500</td>
            </tr>
            <tr role="row" class="odd">
                <td class="sorting_1">Hermione Butler</td>
                <td>Regional Director</td>
                <td>London</td>
                <td>47</td>
                <td>2011/03/21</td>
                <td>$356,250</td>
            </tr>
            <tr role="row" class="even">
                <td class="sorting_1">Herrod Chandler</td>
                <td>Sales Assistant</td>
                <td>San Francisco</td>
                <td>59</td>
                <td>2012/08/06</td>
                <td>$137,500</td>
            </tr>
            <tr role="row" class="odd">
                <td class="sorting_1">Hope Fuentes</td>
                <td>Secretary</td>
                <td>San Francisco</td>
                <td>41</td>
                <td>2010/02/12</td>
                <td>$109,850</td>
            </tr>
            <tr role="row" class="even">
                <td class="sorting_1">Howard Hatfield</td>
                <td>Office Manager</td>
                <td>San Francisco</td>
                <td>51</td>
                <td>2008/12/16</td>
                <td>$164,500</td>
            </tr>
            <tr role="row" class="odd">
                <td class="sorting_1">Jackson Bradshaw</td>
                <td>Director</td>
                <td>New York</td>
                <td>65</td>
                <td>2008/09/26</td>
                <td>$645,750</td>
            </tr>
            <tr role="row" class="even">
                <td class="sorting_1">Jena Gaines</td>
                <td>Office Manager</td>
                <td>London</td>
                <td>30</td>
                <td>2008/12/19</td>
                <td>$90,560</td>
            </tr>
            <tr role="row" class="odd">
                <td class="sorting_1">Jenette Caldwell</td>
                <td>Development Lead</td>
                <td>New York</td>
                <td>30</td>
                <td>2011/09/03</td>
                <td>$345,000</td>
            </tr>
            <tr role="row" class="even">
            <td class="sorting_1">Jennifer Acosta</td>
            <td>Junior Javascript Developer</td>
            <td>Edinburgh</td>
            <td>43</td>
            <td>2013/02/01</td>
            <td>$75,650</td>
        </tr>
        </tbody>
    <tfoot>
        <tr>
            <th rowspan="1" colspan="1">Name</th>
            <th rowspan="1" colspan="1">Position</th>
            <th rowspan="1" colspan="1">Office</th>
            <th rowspan="1" colspan="1">Age</th>
            <th rowspan="1" colspan="1">Start date</th>
            <th rowspan="1" colspan="1">Salary</th>
        </tr>
    </tfoot>
</table>
    <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 21 to 30 of 57 entries</div>
    <div class="dataTables_paginate paging_full_numbers" id="example_paginate">
        <a class="paginate_button first" aria-controls="example" data-dt-idx="0" tabindex="0" id="example_first">First</a>
        <a class="paginate_button previous" aria-controls="example" data-dt-idx="1" tabindex="0" id="example_previous">Previous</a>
        <span>
            <a class="paginate_button " aria-controls="example" data-dt-idx="2" tabindex="0">1</a>
            <a class="paginate_button " aria-controls="example" data-dt-idx="3" tabindex="0">2</a>
            <a class="paginate_button current" aria-controls="example" data-dt-idx="4" tabindex="0">3</a>
            <a class="paginate_button " aria-controls="example" data-dt-idx="5" tabindex="0">4</a>
            <a class="paginate_button " aria-controls="example" data-dt-idx="6" tabindex="0">5</a>
            <a class="paginate_button " aria-controls="example" data-dt-idx="7" tabindex="0">6</a>
        </span>
        <a class="paginate_button next" aria-controls="example" data-dt-idx="8" tabindex="0" id="example_next">Next</a>
        <a class="paginate_button last" aria-controls="example" data-dt-idx="9" tabindex="0" id="example_last">Last</a>
    </div>
</div>