{% extends "dashboard/base.html" %}
{% load static %}

{% block extrahead %}

<!-- Timeline CSS -->
<link href="{% static "dist/css/timeline.css" %}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{% static "bower_components/morrisjs/morris.css" %}" rel="stylesheet">

{% endblock extrahead %}


{% block content %}
    
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> {{ team.name }}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <img style='height: 130%; width: 130%; object-fit: contain; display: block' src="{{photo}}">
{#                        <img style='height: 130%; width: 130%; object-fit: contain; display: block' src="{% static 'logos/tot.png' %}">#}
                    </div>
                    <div class="col-xs-8 text-right">
                        <div class="huge">{{team.short_name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-list fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ team.points }}</div>
                        <div>Points</div>
                    </div>
                </div>
{#                            <a href="#">#}
{#                <div class="panel-footer">#}
{#                    <span class="pull-left">View Details</span>#}
{#                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>#}
{#                    <div class="clearfix"></div>#}
{#                </div>#}
{#            </a>#}
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-trophy fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{team.position}}</div>
                        <div>Position</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ cnt }}</div>
                        <div>Players</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-users fa-fw"></i> Team
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Sort by
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="{% url 'fpl:team' team.id 'id' %}">ID</a>
                            </li>
                            <li><a href="{% url 'fpl:team' team.id 'second_name' %}">Name</a>
                            </li>
                            <li><a href="{% url 'fpl:team' team.id 'position' %}">Position</a>
                            </li>
                            <li><a href="{% url 'fpl:team' team.id 'now_cost' %}">Cost</a>
                            </li>
                            <li><a href="{% url 'fpl:team' team.id 'points_per_game' %}">Points per game</a>
                            </li>
                            <li><a href="{% url 'fpl:team' team.id 'influence' %}">Influence</a>
                            </li>
                            <li><a href="{% url 'fpl:team' team.id 'creativity' %}">Creativity</a>
                            </li>
                            <li><a href="{% url 'fpl:team' team.id 'threat' %}">Threat</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Pos</th>
                                        <th>Cost</th>
                                        <th>PPG</th>
                                        <th>Influence</th>
                                        <th>Creativity</th>
                                        <th>Threat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in players %}
                                        <tr>
                                            <td>{{player.id}}</td>
                                            <td>{{player.second_name}}</td>
                                            <td>{{player.position}}</td>
                                            <td>{{player.now_cost}}</td>
                                            <td>{{player.points_per_game}}</td>
                                            <td>{{player.influence}}</td>
                                            <td>{{player.creativity}}</td>
                                            <td>{{player.threat}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-star fa-fw"></i> Strength
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item">
                        Form
                        <span class="pull-right text-muted"><em>{{team.form}}</em>
                        </span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-star fa-fw"></i> Strength
                        <span class="pull-right text-muted">
                            {% with ''|center:team.strength as range %}
                                {% for i in range %}
                                    <i class="fa fa-star fa-fw"></i>
                                {% endfor %}
                            {% endwith %}
                        </span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-star fa-fw"></i> Strength overall home
                        <span class="pull-right text-muted"><em>{{team.strength_overall_home}}</em>
                        </span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-star fa-fw"></i> Strength overall away
                        <span class="pull-right text-muted"><em>{{team.strength_overall_away}}</em>
                        </span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-star fa-fw"></i> Strength attack home
                        <span class="pull-right text-muted"><em>{{team.strength_attack_home}}</em>
                        </span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-star fa-fw"></i> Strength attack away
                        <span class="pull-right text-muted"><em>{{team.strength_attack_away}}</em>
                        </span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-star fa-fw"></i> Strength defence home
                        <span class="pull-right text-muted"><em>{{team.strength_defence_home}}</em>
                        </span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-star fa-fw"></i> Strength defence away
                        <span class="pull-right text-muted"><em>{{team.strength_defence_away}}</em>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->

{% endblock content %}


{% block extrajs %}


{% endblock extrajs %}