{% extends "dashboard/base.html" %}
{% load static %}

{% block extrahead %}

<!-- Timeline CSS -->
<link href="{% static "dist/css/timeline.css" %}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{% static "bower_components/morrisjs/morris.css" %}" rel="stylesheet">

{% endblock extrahead %}


{% block content %}
    
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Your Team</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-4">
        <div class="panel-body">
            <div class="row form-group">
                {% if success %}
                    <div class="alert alert-success">
                        {{ success }}
                    </div>
                    <form action="#" method="post">
                    <div>
                        {% csrf_token %}
                        {{form.as_p}}
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-mail-forward">Send</i>
                        </button>
                    </span>
                </form>
                {% elif failure %}
                    <div class="alert alert-danger">
                        <div><strong>Error(s):</strong></div>
                        <form action="#" method="post">
                    <div>
                        {% csrf_token %}
                        {{form.as_p}}
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-mail-forward">Send</i>
                        </button>
                    </span>
                </form>
                    </div>
                {% else %}
                    <form action="#" method="post">
                    <div>
                        {% csrf_token %}
                        {{form.as_table}}
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-mail-forward">Send</i>
                        </button>
                    </span>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-users fa-fw"></i> Your Team Stats
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row form-group">
                    {% if overpaid %}
                        <div class="alert alert-danger">
                            <div><strong>Your team is overpaid by {{ overpaid }}</strong></div>
                        </div>
                    {% endif %}
                    <div class="col-lg-6">
                        <div class="list-group">
                            <div class="list-group-item">
                                <i class="fa fa-money fa-fw"></i>  Overall cost
                                <span class="pull-right text-muted"><em> {{ overall_cost }} </em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                <i class="fa fa-star fa-fw"></i> Points per game
                                <span class="pull-right text-muted"><em> {{ ppg }} </em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                <i class="fa fa-star fa-fw"></i> Influence
                                <span class="pull-right text-muted"><em>{{ influence }}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                <i class="fa fa-star fa-fw"></i> Creativity
                                <span class="pull-right text-muted"><em>{{ creativity }}</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="list-group">
                            <div class="list-group-item">
                                <i class="fa fa-star fa-fw"></i> Threat
                                <span class="pull-right text-muted"><em>{{ threat }}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                <i class="fa fa-star fa-fw"></i> Dreamteam apperances
                                <span class="pull-right text-muted"><em>{{ dreamteam }}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                <i class="fa fa-star fa-fw"></i> Total points
                                <span class="pull-right text-muted"><em>{{ total_points }}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> Novelty
                                    <span class="pull-right text-muted"><em> {{ novelty }}</em>
                                    </span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /.panel -->
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-users fa-fw"></i> Details
            </div>
            <!-- /.panel-heading -->
            <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Cost</th>
                                <th>PPG</th>
                                <th>Dreamteam</th>
                                <th>Form</th>
                                <th>Selected</th>
                                <th>Total points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for u in uteam %}
                                <tr class="odd gradeX">
                                    <td align="center">{{u.id}}</td>
                                    <td><a href="{% url 'fpl:player' u.id %}">{{u}}</a></td>
                                    <td class="center" align="center">{{u.now_cost}}</td>
                                    <td class="center" align="center">{{u.points_per_game}}</td>
                                    <td class="center" align="center">{{u.in_dreamteam}}</td>
                                    <td class="center" align="center">{{u.form}}</td>
                                    <td class="center" align="center">{{u.selected_by_percent}}</td>
                                    <td class="center" align="center">{{u.total_points}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        <!-- /.panel -->
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->

{% endblock content %}

{% block extrajs %}

<!-- Morris Charts JavaScript -->
<script src="{% static "bower_components/raphael/raphael-min.js" %}"></script>
<script src="{% static "bower_components/morrisjs/morris.min.js" %}"></script>
<script src="{% static "js/morris-data.js" %}"></script>

{% endblock extrajs %}