<h2 class="display-8">Fantasy Premier League Helper</h2>
Fantasy Premier League Helper is a Django based app for optimizing youruser Team in Fantasy Premier League game using data 
from official game API. To learn more about game itself please visit <a href="https://fantasy.premierleague.com/help">Official Fantasy Premier League site</a>.
<br><br>
<h3>Key Notes about apps:</h3>
<ul>
    <li>App build in App Datta Able- Django Dashboard - <a href="https://appseed.us/admin-dashboards/flask-datta-able?ref=301">Visit</a>;</li>
    <li>PostgreSQL Database, Django Native ORM;</li>
    <li>Data from FPL API - <a href="https://www.reddit.com/r/FantasyPL/comments/f8t3bw/cheatsheet_of_all_current_fpl_endpoints/">List of endpoints</a>;</li>
    <li>Session-Based Authentication, Forms validation;</li>
    <li>Deployment scripts: Docker - <a href="https://github.com/MarcinDylong/FPL">Repository on GitHub</a>;</li>
</ul>
<h3>Important!</h3>
Due to database size limitations on heroku, on this demo registration for new users has been blocked. Test user is provided:
<ul>
    <li><b>Name:</b> Test</li>
    <li><b>Pass:</b> Test123!</li>
</ul>
<h4><b>Also</b> player data is <b>only</b> complete for teams listed below! This means that some features or pages may be 
unavailable or there may be missing data in the tables (e.g. Current GW Bests include only players from those teams)! Teams with a full set of data are:
</h4>
<ul>
    <li><b>Arsenal;</li>
    <li><b>Chelsea;</li>
    <li><b>Liverpool;</li>
    <li><b>Manchester City;</li>
    <li><b>Manchester United;</li>
    <li><b>Tottenham Hotspur;</li>
</ul>