<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href={% url 'fpl:home' %}>
                <div class="b-bg">
                    <i class="fas fa-poll"></i>
                    <span class="b-title">FPL</span>
                </div>
            </a>
            <a class="mobile-menu" id="mobile-collapse"
               href="javascript:"><span></span></a>
        </div>
        <div class="navbar col-auto">
            <form action="{% url 'fpl:player-search' %}" method="get">
                <div class="nav-item input-group mb-3" style="background-color: transparent">
                    {% csrf_token %}
                    {{ search_form }}
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Go</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="navbar-content scroll-div">
        {# Search form goes here #}
            <ul class="nav pcoded-inner-navbar">
                <li data-username="dashboard"
                    class="nav-item {% if 'home' in segment %} active {% endif %}">
                    <a href='{% url 'fpl:home' %}' class="nav-link ">
                        <span class="pcoded-micon">
                        <i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>
                <li data-username="userteam"
                    class="nav-item {% if 'user-team' in segment %} active {% endif %}">
                    <a href="{% url 'fpl:user-team' %}" class="nav-link ">
                        <span class="pcoded-micon">
                        <i class="fas fa-star"></i></span>
                        <span class="pcoded-mtext">User Team</span>
                    </a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Premier League</label>
                </li>
                <li data-username="pl-teams" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link ">
                        <span class="pcoded-micon">
                        <i class="feather icon-shield"></i></span>
                        <span class="pcoded-mtext">PL Teams</span>
                    </a>
                    <ul class="pcoded-submenu">
                        {% for t in teams %}
                        <li class="">
                            <a href="{% url 'fpl:team' t.id %}" class="">{{ t.name }}</a></li>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li data-username="standings"
                    class="nav-item {% if 'standings' in segment %} active {% endif %}">
                    <a href="{% url 'fpl:standings' %}" class="nav-link ">
                        <span class="pcoded-micon">
                        <i class="feather icon-list"></i></span>
                        <span class="pcoded-mtext">Standings</span>
                    </a>
                </li>
                <li data-username="fixture"
                    class="nav-item {% if 'fixtures' in segment %} active {% endif %}">
                    <a href="{% url 'fpl:fixtures' %}" class="nav-link">
                        <span class="pcoded-micon">
                        <i class="feather icon-calendar"></i></span>
                        <span class="pcoded-mtext">Fixtures</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Players</label>
                </li>
                <li data-username="stats"
                    class="nav-item {% if 'stats' in segment %} active {% endif %}">
                    <a href="{% url 'fpl:stats' %}" class="nav-link ">
                        <span class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span>
                        <span class="pcoded-mtext">Stats</span></a></li>
                <li data-username="players_search"
                    class="nav-item {% if 'player-search' in segment %} active {% endif %}">
                    <a href="{% url 'fpl:player-search' %}" class="nav-link ">
                        <span class="pcoded-micon">
                        <i class="feather icon-search"></i></span>
                        <span class="pcoded-mtext">Players search</span></a></li>
                {% if user.is_superuser %}
                <li class="nav-item pcoded-menu-caption">
                    <label>Data managment</label>
                </li>
                <li data-username="data_download" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link ">
                        <span class="pcoded-micon"><i class="feather icon-download"></i></span>
                        <span class="pcoded-mtext">Tools for data download</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="">
                            <a href={% url 'fpl:download_json' %} class="">
                            Download data to JSON</a>
                        </li>
                        <li class="">
                            <a href={% url 'fpl:populate_tables' %} class="">
                            Populate Tables</a>
                        </li>
                        <li class="">
                            <a href={% url 'fpl:update_tables' %} class="">
                            Update Tables</a>
                        </li>
                        <li class="">
                            <a href={% url 'fpl:get_players_history' %} class="">
                            Get players stats</a>
                        </li>
                        <li class="">
                            <a href={% url 'fpl:get_fixture' %} class="">
                            Get Fixtures</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item pcoded-menu-caption">
                    <label>User</label>
                </li>
                <li data-username="authentication_tools"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link ">
                        <span class="pcoded-micon">
                        <i class="feather icon-lock"></i></span>
                        <span class="pcoded-mtext">Authentication</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a
                                href={% url 'auth:password_reset' %} class="">Reset
                            Pass</a></li>
                    </ul>
                </li>
                <li data-username="Logout" class="nav-item">
                    <a href={% url 'auth:logout' %} class="nav-link">
                        <span class="pcoded-micon">
                        <i class="feather icon-power"></i></span>
                        <span class="pcoded-mtext">Logout - [ {{ request.user.username }} ]</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>