{% extends "layouts/base.html" %}

{% block title %} - Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ About ] start -->
                    <div class='row'>
                        <div class="col-xl-12 col-md-12">
                            <div class="accordion" id="aboutCollapse">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h4 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#about" aria-expanded="True" class="" aria-controls="collapseOne" ><!-- class="collapsed" aria-expanded="true"  -->
                                            About this site!
                                        </a></h4>
                                    </div>
                                    <div id="about" class="card-body collapse show" aria-labelledby="headingOne" data-parent="#aboutCollapse">
                                        {% include 'includes/about.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ About ] end -->
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[ Best eleven of current GW ] start-->
                        <div class="col-xl-6 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header toolTip" data-value='currBest'>
                                    <h5>Current GW Bests</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="gwBestEleven">
                                            <thead>
                                                <tr class="center" align="center">
                                                    <th>Id</th>
                                                    <th>Position</th>
                                                    <th>Player</th>
                                                    <th>Team</th>
                                                    <th>Points</th>
                                                    <th>Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for g in gameweek_bests %}
                                                    <tr class="unread center" align="center">
                                                        <td>
                                                            {% if g.player.id in ut_ids %}
                                                                <i class="fas fa-star toolTip" data-value='yourTeam'></i>
                                                            {% else %}
                                                                {{ g.player.id }}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ g.player.position.name_short }}</td>
                                                        <td>
                                                            <a class='golink' href="{% url 'fantasy_pl:player' g.player.id %}">
                                                                <h6 class="mb-1">{{ g.player.second_name}}</h6>
                                                                <p class="text-muted m-0">{{ g.player.first_name }}</p>
                                                            </a>
                                                        </td>
                                                        <td>{{ g.player.team.short_name }}</td>
                                                        <td>{{ g.total_points }}</td>
                                                        <td>{{ g.player.now_cost }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Best eleven of current GW ] end-->
                        <!--[ Best eleven of season ] start-->
                        <div class="col-xl-6 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header toolTip" data-value='allBest'>
                                    <h5>All season Best</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="bestEleven">
                                            <thead>
                                                <tr class="center" align="center">
                                                    <th>id</th>
                                                    <th>Position</th>
                                                    <th>Player</th>
                                                    <th>Team</th>
                                                    <th>PPG</th>
                                                    <th>Total Points</th>
                                                    <th>Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for sb in season_bests %}
                                                    <tr class="unread center" align="center">
                                                        <td>
                                                            {% if sb.id in ut_ids %}
                                                                <i class="fas fa-star toolTip" data-value='yourTeam'></i>
                                                            {% else %}
                                                                {{ sb.id }}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{sb.position.name_short}}</td>
                                                        <td>
                                                            <a class='golink' href="{% url 'fantasy_pl:player' sb.id %}">
                                                                <h6 class="mb-1">{{sb.second_name}}</h6>
                                                                <p class="text-muted m-0">{{sb.first_name}}</p>
                                                            </a>
                                                        </td>
                                                        <td>{{sb.team.short_name}}</td>
                                                        <td>{{sb.points_per_game}}</td>
                                                        <td>{{sb.total_points}}</td>
                                                        <td>{{sb.now_cost}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Best eleven of season ] end-->
                    </div>
                    <div class="row">
                        <!--[ Transfers IN of current GW ] start-->
                        <div class="col-xl-6 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <div class="col-9  toolTip" data-value='mostIn'>
                                        <h5 class="d-flex align-items-center">
                                            <i class="fas fa-arrow-up text-c-green f-30 m-r-10"></i>
                                            Most transfers in of current GW
                                        </h5>
                                    </div>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="gwBestEleven">
                                            <thead>
                                                <tr class="center" align="center">
                                                    <th>Id</th>
                                                    <th>Position</th>
                                                    <th>Player</th>
                                                    <th>Tran. IN</th>
                                                    <th>Team</th>
                                                    <th>PPG</th>
                                                    <th>Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for t in transfers_in %}
                                                    <tr class="unread center" align="center">
                                                        <td>
                                                            {% if t.id in ut_ids %}
                                                                <i class="fas fa-star toolTip" data-value='yourTeam'></i>
                                                            {% else %}
                                                                {{ t.id }}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ t.position.name_short }}</td>
                                                        <td>
                                                            <a class='golink' href="{% url 'fantasy_pl:player' t.id %}">
                                                                <h6 class="mb-1">{{ t.second_name}}</h6>
                                                                <p class="text-muted m-0">{{ t.first_name }}</p>
                                                            </a>
                                                        </td>
                                                        <td>{{ t.transfers_in_event }}</td>
                                                        <td>{{ t.team.short_name }}</td>
                                                        <td>{{ t.points_per_game }}</td>
                                                        <td>{{ t.now_cost }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Transfers IN of current GW ] end-->
                        <!--[ Transfers OUT of current GW ] start-->
                        <div class="col-xl-6 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <div class="col-9  toolTip" data-value='mostOut'>
                                        <h5 class="d-flex align-items-center">
                                            <i class="fas fa-arrow-down text-c-red f-30 m-r-10"></i>
                                            Most transfers out of current GW
                                        </h5>
                                    </div>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="bestEleven">
                                            <thead>
                                                <tr class="center" align="center">
                                                    <th>id</th>
                                                    <th>Position</th>
                                                    <th>Player</th>
                                                    <th>Tran. OUT</th>
                                                    <th>Team</th>
                                                    <th>PPG</th>
                                                    <th>Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for t in transfers_out %}
                                                    <tr class="unread center" align="center">
                                                        <td>
                                                            {% if t.id in ut_ids %}
                                                                <i class="fas fa-star toolTip" data-value='yourTeam'></i>
                                                            {% else %}
                                                                {{ t.id }}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{t.position.name_short}}</td>
                                                        <td>
                                                            <a class='golink' href="{% url 'fantasy_pl:player' t.id %}">
                                                                <h6 class="mb-1">{{t.second_name}}</h6>
                                                                <p class="text-muted m-0">{{t.first_name}}</p>
                                                            </a>
                                                        </td>
                                                        <td>{{t.transfers_out_event}}</td>
                                                        <td>{{t.team.short_name}}</td>
                                                        <td>{{t.points_per_game}}</td>
                                                        <td>{{t.now_cost}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Transfers OUT of current GW ] end-->
                    </div>
                    <div class="row">
                        <!-- [ availability ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header  toolTip" data-value="plAvl">
                                    <h5>Player Availability</h5>
                                </div>
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="availability">
                                            <thead>
                                                <tr class="center" align="center">
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Team</th>
                                                    <th>Chance of playing</th>
                                                    <th>Chance for next round</th>
                                                    <th>Reason</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for a in availability %}
                                                <tr class="center" align="center">
                                                    <td>
                                                        {% if a.id in ut_ids %}
                                                            <i class="fas fa-star toolTip" data-value='yourTeam'></i>
                                                        {% else %}
                                                            {{ a.id }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a class='golink' href="{% url 'fantasy_pl:player' a.id %}">
                                                            <h6 class="mb-1">{{ a.second_name }}</h6>
                                                            <p class="text-muted m-0">{{ a.first_name }}</p>
                                                        </a>
                                                    </td>
                                                    <td>{{ a.team.short_name }}</td>
                                                    <td>{{ a.chance_of_playing_this_round }}%</td>
                                                    <td>{{ a.chance_of_playing_next_round }}%</td>
                                                    <td>{{ a.news }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Availability-table ] end -->
                    </div>
                    <div class="row">
                        <!--[ Most popular eleven ] start-->
                        <div class="col-xl-6 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header toolTip" data-value="mostPop">
                                    <h5>Most popular</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="mostPopularEleven">
                                            <thead>
                                                <tr class="center" align="center">
                                                    <th>id</th>
                                                    <th>Position</th>
                                                    <th>Player</th>
                                                    <th>Team</th>
                                                    <th>Popularity [%]</th>
                                                    <th>Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for mp in most_popular %}
                                                    <tr class="unread center" align="center">
                                                        <td>
                                                            {% if mp.id in ut_ids %}
                                                                <i class="fas fa-star toolTip" data-value='yourTeam'></i>
                                                            {% else %}
                                                                {{ mp.id }}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ mp.position.name_short}}</td>
                                                        <td>
                                                            <a class='golink' href="{% url 'fantasy_pl:player' mp.id %}">
                                                                <h6 class="mb-1">{{ mp.second_name}}</h6>
                                                                <p class="text-muted m-0">{{ mp.first_name}}</p>
                                                            </a>
                                                        </td>
                                                        <td>{{ mp.team.short_name}}</td>
                                                        <td>{{ mp.selected_by_percent}}</td>
                                                        <td>{{ mp.now_cost}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Most popular eleven ] end-->
                        <!--[ Most bonus of gw ] start-->
                        <div class="col-xl-6 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header toolTip" data-value="bonSeason">
                                    <h5>Bonuses for Season</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="gwBpsEleven">
                                            <thead>
                                                <tr class="center" align="center">
                                                    <th>id</th>
                                                    <th>Position</th>
                                                    <th>Player</th>
                                                    <th>Team</th>
                                                    <th>Bonus</th>
                                                    <th>Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for bs in season_bonuses %}
                                                    <tr class="unread center" align="center">
                                                        <td>
                                                            {% if bs.id in ut_ids %}
                                                                <i class="fas fa-star toolTip" data-value='yourTeam'></i>
                                                            {% else %}
                                                                {{ bs.id }}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ bs.position.name_short }}</td>
                                                        <td>
                                                            <a class='golink' href="{% url 'fantasy_pl:player' bs.id %}">
                                                                <h6 class="mb-1">{{ bs.second_name}}</h6>
                                                                <p class="text-muted m-0">{{ bs.first_name }}</p>
                                                            </a>
                                                        </td>
                                                        <td>{{ bs.team.short_name }}</td>
                                                        <td>{{ bs.bonus }}</td>
                                                        <td>{{ bs.now_cost }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Most pbs of gw ] end-->
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$(document).ready(function() {
    $('#availability').DataTable({
            lengthMenu: [[5, 10, 25, -1], [5, 10, 25, "All"]],
            responsive: true,
            info: false,
            paging: true,
            searching: true,
            order: [[0,'asc']]
    });
});
</script>
{% endblock javascripts %}
