{% extends "layouts/base.html" %}

{% block title %} {{title}} {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="m-b-10">{{title}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ Search-form-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="" method="POST" id='form'>
                                    <div>
                                        {% csrf_token %}
                                        {% if form.non_field_errors %}
                                            <button type="button" class="btn btn-danger">
                                                {{ form.non_field_errors.as_text }}
                                            </button><br>
                                        {% endif %}
                                        {{ form }}
                                    </div>
                                    <span>
                                        <button class="btn btn-primary" type="Submit">Search</button>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- [ Search-form-table ] end -->
                </div>
                {% if players %}
                <div class="row">
                    <!-- [ Search-results-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <div id="chart" ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Search-results-table ] end -->
                </div>
                {% endif %}
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$('.errorlist').hide()
var chartId = document.getElementById("chart");
var x = {{x}};
var y = {{y}};
var names = {{players|safe}};
var size = {{size}};
var len = x.length;
var max_size = {{max_size}};
var x_regr = {{x_regr}};
var pred_regr = {{pred_regr}}
var x_regr_poly = {{x_regr_poly}};
var pred_regr_poly = {{pred_regr_poly}}
var data = []

for(var indx = 0; indx < len; indx++){
    var size_ = Math.round(((size[indx]/10) - 1) * max_size * 100)/100
    data.push({
        x: [x[indx]],
        y: [y[indx]],
        mode: 'markers',
        name: names[indx],
        text: [`${names[indx]} ${size_}`],
        marker: {
            size: [size[indx]]
            },
        type: 'scatter'
    });
};

var LinRegr = {
    x: x_regr,
    y: pred_regr,
    mode: 'lines',
    type: 'scatter',
    text: 'Linear Regression',
    name: 'Linear Regression'
};

data.push(LinRegr)

var LinRegrPoly = {
    x: x_regr_poly,
    y: pred_regr_poly,
    mode: 'lines',
    type: 'scatter',
    text: 'Polynomial Regression',
    name: 'Polynomial Regression'
};

data.push(LinRegrPoly)

var x_axis_tittle = $('#id_x_axis option:selected').text()
var y_axis_tittle = $('#id_y_axis option:selected').text()
var size_points = $('#id_size_points option:selected').text()

var layout = {

  xaxis: {
    title: {
      text: x_axis_tittle,
      font: {
        size: 18
      }
    }
  },
  yaxis: {
    title: {
      text: y_axis_tittle,
      font: {
        size: 18
      }
    }
  },
  height: 700,
  showlegend: true,
}

var config = {responsive: true}

Plotly.newPlot(chartId, data, layout, config);

</script>
{% endblock javascripts %}
