{% extends "layouts/base.html" %}
{% load custom_filters %}

{% block title %} - UserTeam {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ Header ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-1">
                                    <div class="page-header-title">
                                        <i class="fas fa-user text-muted f-50"></i>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="page-header-title">
                                        {% if profile.player_first_name %}
                                        <h1 class="m-b-10">{{ profile.player_first_name }} {{ profile.player_last_name }}</h1>
                                        {% else %}
                                        <h1 class="m-b-10">Profile</h1>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Header ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Download User Team ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Update your FPL profile</h5>
                                            {% if messages %}
                                                {% for message in messages %}
                                                <div class="text-dark">
                                                    Info: {{ message }}
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                            <hr>
                                            <div class="input-group-sm mb-3">
                                                <form method="POST" action="{% url 'fpl:download_user' %}">
                                                    <div class="nav-item input-group mb-3" style="background-color: transparent">
                                                        {% csrf_token %}
                                                        {{ form }}
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-primary" type="submit">Go</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Download User Team ] end -->
                            <!-- [ Basic Info Content ] start -->
                            <div class="row">
                                <!-- [ Basic info ] start -->
                                <div class="col-xl-4 col-md-6">
                                    <div class="card">
                                        <div class="card-block border-bottom">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="fas fa-id-badge text-c-purple f-50"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300">{{ profile.fpl }}</h3>
                                                    <span class="text-dark d-block text-uppercase">FPL ID</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card">
                                        <div class="card-block border-bottom">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="fas fa-shield-alt f-50 text-c-green"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300">{{ profile.name }}</h3>
                                                    <span class="d-block text-uppercase">Team name</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card">
                                        <div class="card-block border-bottom">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="fa fa-flag f-50 text-c-blue"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300">{{ profile.player_region_iso_code_long }}</h3>
                                                    <span class="d-block text-uppercase">Country</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Basif info ] end -->
                            </div>
                            <!-- [ Basic Info Content ] end -->
                            <!-- [ Basic Info Content 2 ] start -->
                            <div class="row">
                                <!-- [ Basic info ] start -->
                                <div class="col-xl-4 col-md-6">
                                    <div class="card">
                                        <div class="card-block border-bottom">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="fas fa-dollar-sign text-c-purple f-50"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300">{{ profile.last_deadline_value }}</h3>
                                                    <span class="text-dark d-block text-uppercase">Total team value</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card">
                                        <div class="card-block border-bottom">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="fas fa-wallet f-50 text-c-green"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300">{{ profile.last_deadline_bank }}</h3>
                                                    <span class="d-block text-uppercase">Bank</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card">
                                        <div class="card-block border-bottom">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="far fa-chart-bar f-50 text-c-blue"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300">{{ profile.summary_overall_points }}</h3>
                                                    <span class="d-block text-uppercase">Total season points</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Basif info ] end -->
                            </div>
                            <!-- [ Basic Info Content 2] end -->
                            <!-- [ Basic Info Content 3 ] start -->
                            <div class="row">
                                <!-- [ Basic info ] start -->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Overall Rank</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>{{ profile.summary_overall_rank }}</h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{ profile.summary_overall_rank|give_percent_rev:event.total_players }}%</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme2" role="progressbar" style="width: {{ profile.summary_overall_rank|give_percent_rev:event.total_players }}%;" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Game week Points</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>{{ profile.summary_event_points }} (avg. {{ event.average_entry_score }})</h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{ profile.summary_event_points|give_percent:event.highest_score }}%</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: {{ profile.summary_event_points|give_percent:event.highest_score }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Game week Rank</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>{{ profile.summary_event_rank }}</h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{ profile.summary_event_rank|give_percent_rev:event.total_players }}%</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-blue" role="progressbar" style="width: {{ profile.summary_event_rank|give_percent_rev:event.total_players }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Basif info ] end -->
                            </div>
                            <!-- [ Basic Info Content 3] end -->
                            <!-- [ Team Form and List ] start -->
                            <div class="row">
                                <!--[ UserTeam Form ] start-->
                                <div class="col-xl-3">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5 class="text-dark" align="left">Update your team manually</h5>
                                        </div>
                                        <div class="card-body text-left">
                                            <div class="form-group">
                                                <form role="form" method="post" action="#">
                                                    {% csrf_token %}
                                                    {% if form.non_field_errors %}
                                                        <button type="button" class="btn btn-danger">
                                                            {{ form.non_field_errors.as_text }}
                                                        </button>
                                                    {% endif %}
                                                    {{ form }}
                                                    <button type='submit' class="btn btn-primary">
                                                        Get
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ UserTeam Form ] end-->
                                <!--[ UserTeam Stat ] start-->
                                <div class="col-xl-9">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Your Team players stats</h5>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table class="table table-hr table-striped table-bordered table-hover" id="players" style="padding: 1.2rem 0.75rem;">
                                                    <thead>
                                                        <tr class="center" align="center">
                                                            <th>id</th>
                                                            <th>Position</th>
                                                            <th>Player</th>
                                                            <th>Team</th>
                                                            <th>Next Game</th>
                                                            <th>PPG</th>
                                                            <th>Total Points</th>
                                                            <th>Cost</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for u in uteam %}
                                                            <tr class="unread center" align="center">
                                                                <td>{{ u.id }}</td>
                                                                <td>{{ u.position.name_short }}</td>
                                                                <td>
                                                                    <a class='golink' href="{% url 'fantasy_pl:player' u.id %}">
                                                                        <h6 class="mb-1">{{ u.second_name }}</h6>
                                                                        <p class="text-muted m-0">{{ u.first_name }}</p>
                                                                    </a>
                                                                </td>
                                                                <td>{{ u.team.short_name }}</td>
                                                                <td>{{ u.next_game }}</td>
                                                                <td>{{ u.points_per_game }}</td>
                                                                <td>{{ u.total_points }}</td>
                                                                <td>{{ u.now_cost }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ UserTeam Stat ] end-->
                            </div>
                            <!-- [ Team Form and List ] end -->
                            <!-- [ Team Charts ] end -->
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>PPG to Cost:</h5>
                                        </div>
                                        <div class="card-block">
                                            <div id="ppg2cost" style="height: 400px; position: relative;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Cost:</h5>
                                        </div>
                                        <div class="card-block">
                                            <div id="cost" style="height: 400px; position: relative;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Team Charts ] end -->
                        </div>
                    </div>
                </div>
            </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}
<script>
$(document).ready(function() {
    $('#players').DataTable({
            responsive: true,
            info: false,
            paging: false,
            searching: false
    });
});

new Morris.Bar({
      element: 'ppg2cost',
      data: [
                {% for u in uteam %}
                    { Player: '{{ u.ppg_chart_str }}', Ratio: '{{ u.ratio }}' }{% if not forloop.last %},{% endif %}
                {% endfor %}
                  ],
      xkey: 'Player',
      ykeys: ['Ratio'],
      xLabelAngle: 45,
      parseTime: false,
      labels: ['Value']
});

   new Morris.Donut({
      element: 'cost',
      data: [
                {% for u in uteam %}
                    { label: '{{ u }}', value: '{{ u.now_cost }}' }{% if not forloop.last %},{% endif %}
                {% endfor %}
                  ],
});
</script>
{% endblock javascripts %}
