{% extends "layouts/base.html" %} {% load custom_filters %} {% block title %} - UserTeam {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css"> 
{% endblock stylesheets %} 

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ Header ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-1">
                        <div class="page-header-title">
                            <i class="fas fa-user text-muted f-50"></i>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <div class="page-header-title">
                            {% if profile.player_first_name %}
                            <h1 class="m-b-10">{{ profile }}</h1>
                            {% else %}
                            <h1 class="m-b-10">Profile</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Header ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Download User Team ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Update your FPL profile</h5>
                                {% if messages %} {% for message in messages %}
                                <div class="text-dark">
                                    Info: {{ message }}
                                </div>
                                {% endfor %} {% endif %}
                                <hr>
                                <div class="input-group-sm mb-3">
                                    <form method="POST" action="{% url 'fpl:download_user' %}">
                                        <div class="nav-item input-group mb-3" style="background-color: transparent">
                                            {% csrf_token %} {{ form }}
                                            <div class="input-group-prepend">
                                                <button class="btn btn-primary" type="submit">Go</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Download User Team ] end -->
                {% if profile.fpl %}
                <!-- [ Basic Info Content ] start -->
                <div class="row">
                    <!-- [ Basic info ] start -->
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-id-badge text-c-purple f-50"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">{{ profile.fpl }}</h3>
                                        <span class="text-dark d-block text-uppercase">FPL ID</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-shield-alt f-50 text-c-green"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">{{ profile.name }}</h3>
                                        <span class="d-block text-uppercase">Team name</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="fa fa-flag f-50 text-c-blue"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">{{ profile.player_region_iso_code_long }}</h3>
                                        <span class="d-block text-uppercase">Country</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Basif info ] end -->
                </div>
                <!-- [ Basic Info Content ] end -->
                <!-- [ Basic Info Content 2 ] start -->
                <div class="row">
                    <!-- [ Basic info ] start -->
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign text-c-purple f-50"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">{{ profile.last_deadline_value }}</h3>
                                        <span class="text-dark d-block text-uppercase">Total team value</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-wallet f-50 text-c-green"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">{{ profile.last_deadline_bank }}</h3>
                                        <span class="d-block text-uppercase">Bank</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="far fa-chart-bar f-50 text-c-blue"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">{{ profile.summary_overall_points }}</h3>
                                        <span class="d-block text-uppercase">Total season points</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Basif info ] end -->
                </div>
                <!-- [ Basic Info Content 2] end -->
                <!-- [ Wild card info ] start -->
                <div class="row">
                    <!-- [ Basic info ] start -->
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        {% if freehit %}
                                        <i class="far fa-star f-50 text-c-purple"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">
                                            Used on GW {{ freehit }}
                                        </h3>
                                        {% else %}
                                        <i class="fas fa-star f-50 text-c-purple"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">
                                            Available
                                        </h3>
                                        {% endif %}
                                        <span class="text-dark d-block text-uppercase">Free Hit</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        {% if 3xc %}
                                        <i class="far fa-star f-50 text-c-green"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">
                                            Used on GW {{ 3xc }}
                                        </h3>
                                        {% else %}
                                        <i class="fas fa-star f-50 text-c-green"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">
                                            Available
                                        </h3>
                                        {% endif %}
                                        <span class="d-block text-uppercase">Triple captain</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        {% if bboost %}
                                        <i class="far fa-star f-50 text-c-blue"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">
                                            Used on GW {{ bboost }}
                                        </h3>
                                        {% else %}
                                        <i class="fas fa-star f-50 text-c-blue"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300"> Available </h3>
                                        {% endif %}
                                        <span class="d-block text-uppercase">Bench boost</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Basif info ] end -->
                </div>
                <!-- [ Wild cards info] end -->
                <!-- [ Basic Info Content 3 ] start -->
                <div class="row">
                    <!-- [ Basic info ] start -->
                    <div class="col-md-6 col-xl-4">
                        <div class="card daily-sales">
                            <div class="card-block">
                                <h6 class="mb-4">Overall Rank</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                            {% if profile.summary_overall_rank < prev.overall_rank %} 
                                            <i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>
                                            {% elif profile.summary_overall_rank == prev.overall_rank %}
                                            <i class="feather icon-minus text-muted f-30 m-r-10"></i> 
                                            {% else %}
                                            <i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i> 
                                            {% endif %} 
                                            {{ profile.summary_overall_rank }}
                                        </h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">{{ profile.summary_overall_rank|give_percent_rev:event.total_players }}%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: {{ profile.summary_overall_rank|give_percent_rev:event.total_players }}%;" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card daily-sales">
                            <div class="card-block">
                                <h6 class="mb-4">Game week Points</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                            {% if profile.summary_event_points > prev.points %}
                                            <i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i> 
                                            {% elif profile.summary_event_points == prev.points %}
                                            <i class="feather icon-minus text-muted f-30 m-r-10"></i> 
                                            {% else %}
                                            <i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i> 
                                            {% endif %} 
                                            {{ profile.summary_event_points }} (avg. {{ event.average_entry_score }})
                                        </h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">{{ profile.summary_event_points|give_percent:event.highest_score }}%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: {{ profile.summary_event_points|give_percent:event.highest_score }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card daily-sales">
                            <div class="card-block">
                                <h6 class="mb-4">Game week Rank</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                            {% if profile.summary_event_rank < prev.rank %} 
                                            <i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>
                                            {% elif profile.summary_event_rank == prev.rank %}
                                            <i class="feather icon-minus text-muted f-30 m-r-10"></i> 
                                            {% else %}
                                            <i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i> 
                                            {% endif %} 
                                            {{ profile.summary_event_rank }}
                                        </h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">{{ profile.summary_event_rank|give_percent_rev:event.total_players }}%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-blue" role="progressbar" style="width: {{ profile.summary_event_rank|give_percent_rev:event.total_players }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Basif info ] end -->
                </div>
                <!-- [ Basic Info Content 3] end -->
                <!-- [ Team Form and List ] start -->
                <div class="row">
                    <!-- {{ picks }} -->
                    <!--[ UserTeam Stat ] start-->
                    <div class="col-xl-12">
                        <div class="card Recent-Users">
                            <div class="card-header">
                                <h5>Your Team players stats</h5>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <table class="table table-hr table-striped table-bordered table-hover" id="players" style="padding: 1.2rem 0.75rem;">
                                        <thead>
                                            <tr class="center" align="center">
                                                <th>id</th>
                                                <th>Position</th>
                                                <th>Player</th>
                                                <th>Team</th>
                                                <th>Next Game</th>
                                                <th>PPG</th>
                                                <th>Total Points</th>
                                                <th>Cost</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck1.id }}</td>
                                                <td>{{ picks.pck1.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck1.id %}">
                                                        <h6 class="mb-1">{{ picks.pck1.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck1.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck1.team.short_name }}</td>
                                                <td>{{ picks.pck1.next_game }}</td>
                                                <td>{{ picks.pck1.points_per_game }}</td>
                                                <td>{{ picks.pck1.total_points }}</td>
                                                <td>{{ picks.pck1.now_cost }}</td>
                                            </tr>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck2.id }}</td>
                                                <td>{{ picks.pck2.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck2.id %}">
                                                        <h6 class="mb-1">{{ picks.pck2.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck2.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck2.team.short_name }}</td>
                                                <td>{{ picks.pck2.next_game }}</td>
                                                <td>{{ picks.pck2.points_per_game }}</td>
                                                <td>{{ picks.pck2.total_points }}</td>
                                                <td>{{ picks.pck2.now_cost }}</td>
                                            </tr>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck3.id }}</td>
                                                <td>{{ picks.pck3.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck3.id %}">
                                                        <h6 class="mb-1">{{ picks.pck3.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck3.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck3.team.short_name }}</td>
                                                <td>{{ picks.pck3.next_game }}</td>
                                                <td>{{ picks.pck3.points_per_game }}</td>
                                                <td>{{ picks.pck3.total_points }}</td>
                                                <td>{{ picks.pck3.now_cost }}</td>
                                            </tr>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck4.id }}</td>
                                                <td>{{ picks.pck4.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck4.id %}">
                                                        <h6 class="mb-1">{{ picks.pck4.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck4.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck4.team.short_name }}</td>
                                                <td>{{ picks.pck4.next_game }}</td>
                                                <td>{{ picks.pck4.points_per_game }}</td>
                                                <td>{{ picks.pck4.total_points }}</td>
                                                <td>{{ picks.pck4.now_cost }}</td>
                                            </tr>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck5.id }}</td>
                                                <td>{{ picks.pck5.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck5.id %}">
                                                        <h6 class="mb-1">{{ picks.pck5.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck5.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck5.team.short_name }}</td>
                                                <td>{{ picks.pck5.next_game }}</td>
                                                <td>{{ picks.pck5.points_per_game }}</td>
                                                <td>{{ picks.pck5.total_points }}</td>
                                                <td>{{ picks.pck5.now_cost }}</td>
                                            </tr>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck6.id }}</td>
                                                <td>{{ picks.pck6.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck6.id %}">
                                                        <h6 class="mb-1">{{ picks.pck6.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck6.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck6.team.short_name }}</td>
                                                <td>{{ picks.pck6.next_game }}</td>
                                                <td>{{ picks.pck6.points_per_game }}</td>
                                                <td>{{ picks.pck6.total_points }}</td>
                                                <td>{{ picks.pck6.now_cost }}</td>
                                            </tr>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck7.id }}</td>
                                                <td>{{ picks.pck7.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck7.id %}">
                                                        <h6 class="mb-1">{{ picks.pck7.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck7.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck7.team.short_name }}</td>
                                                <td>{{ picks.pck7.next_game }}</td>
                                                <td>{{ picks.pck7.points_per_game }}</td>
                                                <td>{{ picks.pck7.total_points }}</td>
                                                <td>{{ picks.pck7.now_cost }}</td>
                                            </tr>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck8.id }}</td>
                                                <td>{{ picks.pck8.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck8.id %}">
                                                        <h6 class="mb-1">{{ picks.pck8.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck8.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck8.team.short_name }}</td>
                                                <td>{{ picks.pck8.next_game }}</td>
                                                <td>{{ picks.pck8.points_per_game }}</td>
                                                <td>{{ picks.pck8.total_points }}</td>
                                                <td>{{ picks.pck8.now_cost }}</td>
                                            </tr>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck9.id }}</td>
                                                <td>{{ picks.pck9.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck9.id %}">
                                                        <h6 class="mb-1">{{ picks.pck9.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck9.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck9.team.short_name }}</td>
                                                <td>{{ picks.pck9.next_game }}</td>
                                                <td>{{ picks.pck9.points_per_game }}</td>
                                                <td>{{ picks.pck9.total_points }}</td>
                                                <td>{{ picks.pck9.now_cost }}</td>
                                            </tr>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck10.id }}</td>
                                                <td>{{ picks.pck10.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck10.id %}">
                                                        <h6 class="mb-1">{{ picks.pck10.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck10.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck10.team.short_name }}</td>
                                                <td>{{ picks.pck10.next_game }}</td>
                                                <td>{{ picks.pck10.points_per_game }}</td>
                                                <td>{{ picks.pck10.total_points }}</td>
                                                <td>{{ picks.pck10.now_cost }}</td>
                                            </tr>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck11.id }}</td>
                                                <td>{{ picks.pck11.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck11.id %}">
                                                        <h6 class="mb-1">{{ picks.pck11.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck11.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck11.team.short_name }}</td>
                                                <td>{{ picks.pck11.next_game }}</td>
                                                <td>{{ picks.pck11.points_per_game }}</td>
                                                <td>{{ picks.pck11.total_points }}</td>
                                                <td>{{ picks.pck11.now_cost }}</td>
                                            </tr>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck12.id }}</td>
                                                <td>{{ picks.pck12.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck12.id %}">
                                                        <h6 class="mb-1">{{ picks.pck12.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck12.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck12.team.short_name }}</td>
                                                <td>{{ picks.pck12.next_game }}</td>
                                                <td>{{ picks.pck12.points_per_game }}</td>
                                                <td>{{ picks.pck12.total_points }}</td>
                                                <td>{{ picks.pck12.now_cost }}</td>
                                            </tr>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck13.id }}</td>
                                                <td>{{ picks.pck13.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck13.id %}">
                                                        <h6 class="mb-1">{{ picks.pck13.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck13.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck13.team.short_name }}</td>
                                                <td>{{ picks.pck13.next_game }}</td>
                                                <td>{{ picks.pck13.points_per_game }}</td>
                                                <td>{{ picks.pck13.total_points }}</td>
                                                <td>{{ picks.pck13.now_cost }}</td>
                                            </tr>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck14.id }}</td>
                                                <td>{{ picks.pck14.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck14.id %}">
                                                        <h6 class="mb-1">{{ picks.pck14.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck14.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck14.team.short_name }}</td>
                                                <td>{{ picks.pck14.next_game }}</td>
                                                <td>{{ picks.pck14.points_per_game }}</td>
                                                <td>{{ picks.pck14.total_points }}</td>
                                                <td>{{ picks.pck14.now_cost }}</td>
                                            </tr>
                                            <tr class="unread center" align="center">
                                                <td>{{ picks.pck15.id }}</td>
                                                <td>{{ picks.pck15.position.name_short }}</td>
                                                <td>
                                                    <a class='golink' href="{% url 'fantasy_pl:player' picks.pck15.id %}">
                                                        <h6 class="mb-1">{{ picks.pck15.second_name }}</h6>
                                                        <p class="text-muted m-0">{{ picks.pck15.first_name }}</p>
                                                    </a>
                                                </td>
                                                <td>{{ picks.pck15.team.short_name }}</td>
                                                <td>{{ picks.pck15.next_game }}</td>
                                                <td>{{ picks.pck15.points_per_game }}</td>
                                                <td>{{ picks.pck15.total_points }}</td>
                                                <td>{{ picks.pck15.now_cost }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ UserTeam Stat ] end-->
                </div>
                <!-- [ Team Form and List ] end -->
                <!-- [ Cost & Point Charts ] end -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Points:</h5>
                            </div>
                            <div class="card-block">
                                <div id="pointCost" style="height: 300px;  position: relative;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Cost & Points Charts ] end -->
                <!-- [ Rank Charts ] end -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Rank:</h5>
                            </div>
                            <div class="card-block">
                                <div id="rank" style="height: 400px; position: relative;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Rank Charts ] end -->
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}
<script>
$(document).ready(function() {
    $('#players').DataTable({
        responsive: true,
        info: false,
        paging: false,
        searching: false
    });
});

new Morris.Line({
        element: 'pointCost',
        data: [
            {% for s in season %} 
                {
                    Fixture: '{{ s.event }}',
                    Points: '{{ s.points }}',
                    Average: '{{ s.event.average_entry_score }}'
                }{% if not forloop.last %}, {% endif %} 
            {% endfor %}
        ],
        smooth: false,
        parseTime: false,
        numLines: 7,
        xkey: 'Fixture',
        ykeys: ['Points', 'Average'],
        ymax: 150,
        labels: ['Points', 'Average']
    });

new Morris.Line({
        element: 'rank',
        data: [
            {% for s in season %} 
                {
                    Fixture: '{{ s.event }}',
                    RankGW: '{{ s.rank }}',
                    Rank: '{{ s.overall_rank }}',
                }{% if not forloop.last %}, {% endif %} 
            {% endfor %}
        ],
        parseTime: false,
        smooth: false,
        xkey: 'Fixture',
        numLines: 9,
        ykeys: ['RankGW', 'Rank'],
        ymax: 0,
        ymin: 8000000,
        labels: ['RankGW', 'Rank']
    });
</script>
{% endblock javascripts %}