<div class="panel panel-zielony">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Random stats - {{name_stat}}
    </div>
    <!-- /.panel-heading -->
    <div>
        <div class="panel-body">
        <div class="row">
            <div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th><i class="fa fa-star fa-fw"></i></th>
                                <th>Name</th>
                                <th>Team</th>
                            </tr>
                        </thead>
                            {% for s in stat %}
                                <tr>
                                    <td> {{ s.stat }} </td>
                                    <td>
                                        <a style='color: #000000' href="{% url 'fpl:player' s.id %}">{{ s.name }}</a>
                                    </td>
                                    <td>{{ s.team }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-8 (nested) -->
        </div>
        <!-- /.row -->
    </div>
    </div>
    <!-- /.panel-body -->
</div>