<div class="panel panel-zielony">
    <div class="panel-heading">
        <i class="fa fa-users fa-fw"></i> Random Team - {{ team.name }}
    </div>
    <div class="panel-body">
        <div class="pull-left col-lg-6">
            <div>
                <div class="panel">
                    <div class="panel-heading" style='background-color: #ffffff; color: #000000'>
                        <div class="row">
                            <div class="col-xs-4">
                                <a href="{% url 'fpl:team' team.id 'id'%}">
                                    <img style='height: 70px; width: auto; object-fit: contain; display: block' src="{{photo}}">
                                </a>
                            </div>
                            <div class="col-xs-8 text-right">
                                <div class="huge">{{team.short_name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-list fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ team.points }}</div>
                                <div>Points</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-trophy fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{team.position}}</div>
                                <div>Position</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ cnt }}</div>
                                <div>Players</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-star fa-fw"></i>Strength
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group-item">
                            Form
                            <span class="pull-right text-muted"><em>{{team.form}}</em>
                            </span>
                        </div>
                        <div class="list-group-item">
                            <i class="fa fa-star fa-fw"></i> Strength
                            <span class="pull-right text-muted">
                                {% with ''|center:team.strength as range %}
                                    {% for i in range %}
                                        <i class="fa fa-star fa-fw"></i>
                                    {% endfor %}
                                {% endwith %}
                            </span>
                        </div>
                        <div class="list-group-item">
                            <i class="fa fa-star fa-fw"></i> Strength overall home
                            <span class="pull-right text-muted"><em>{{team.strength_overall_home}}</em>
                            </span>
                        </div>
                        <div class="list-group-item">
                            <i class="fa fa-star fa-fw"></i> Strength overall away
                            <span class="pull-right text-muted"><em>{{team.strength_overall_away}}</em>
                            </span>
                        </div>
                        <div class="list-group-item">
                            <i class="fa fa-star fa-fw"></i> Strength attack home
                            <span class="pull-right text-muted"><em>{{team.strength_attack_home}}</em>
                            </span>
                        </div>
                    <div class="list-group-item">
                        <i class="fa fa-star fa-fw"></i> Strength attack away
                        <span class="pull-right text-muted"><em>{{team.strength_attack_away}}</em>
                        </span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-star fa-fw"></i> Strength defence home
                        <span class="pull-right text-muted"><em>{{team.strength_defence_home}}</em>
                        </span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-star fa-fw"></i> Strength defence away
                        <span class="pull-right text-muted"><em>{{team.strength_defence_away}}</em>
                        </span>
                    </div>
                </div>
            </div>
        <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        </div>
    </div>
</div>