{% extends "dashboard/base.html" %}
{% load static %}

{% block extrahead %}

<!-- Timeline CSS -->
<link href="{% static "dist/css/timeline.css" %}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{% static "bower_components/morrisjs/morris.css" %}" rel="stylesheet">

{% endblock extrahead %}


{% block content %}

{# Title block col-lg-12#}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Your Team</h1>
    </div>
</div>
{# Form block col-lg-12#}
<div class="row">
    {% include 'components/userteam/_userteam_form_get_userteam.html' %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
</div>
{# Forms and data block col-lg-4 and col-lg-8#}
<div class="row">
    {# Form col-lg-4#}
    {% include 'components/userteam/_userteam_form.html' %}
    {# Data block col-lg-8#}
    {% include 'components/userteam/_userteam_data_display.html' %}
</div>
{# Title block col-lg-12#}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Charts</h1>
    </div>
</div>
{# Charts block col-lg-6 and col-lg-6#}
<div class="row">
    {% include 'components/userteam/_userteam_charts.html' %}
</div>

{% endblock content %}

{% block extrajs %}

<!-- Morris Charts JavaScript -->
<script src="{% static "bower_components/raphael/raphael-min.js" %}"></script>
<script src="{% static "bower_components/morrisjs/morris.min.js" %}"></script>
<script src="{% static "js/morris-data.js" %}"></script>


<script>
   new Morris.Bar({
      // ID of the element in which to draw the chart.
      element: 'cost',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
                {% for u in uteam %}
                    { Player: '{{ u }}', Ratio: '{{ u.ratio }}' }{% if not forloop.last %},{% endif %}
                {% endfor %}
                  ],
      // The name of the data record attribute that contains x-values.
      xkey: 'Player',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['Ratio'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['Value']
});

   new Morris.Donut({
      // ID of the element in which to draw the chart.
      element: 'ppg',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
                {% for u in uteam %}
                    { label: '{{ u }}', value: '{{ u.selected_by_percent }}' }{% if not forloop.last %},{% endif %}
                {% endfor %}
                  ],
});
</script>


{% endblock extrajs %}