{% extends "dashboard/base.html" %}
{% load static %}

{% block extrahead %}

    <!-- Timeline CSS -->
    <link href="{% static "dist/css/timeline.css" %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static "bower_components/morrisjs/morris.css" %}" rel="stylesheet">


{% endblock extrahead %}


{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> {{ player }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {#player info#}
        {% include 'components/player/_player_info.html' %}
    {#player news#}
        {% if player.news %}
            {% include 'components/player/_player_news.html' %}
        {% endif %}
    {#Game played#}
        {% include 'components/player/_player_games_played.html' %}
    {#Game to play#}
        {% include 'components/player/_player_games_to_play.html' %}
    {#Player stats#}
        {% include 'components/player/_player_stats.html' %}
    {#Player Charts#}
        {% include 'components/player/_player_charts.html' %}

{% endblock content %}


{% block extrajs %}

    <script src="{% static "bower_components/raphael/raphael-min.js" %}"></script>
    <script src="{% static "bower_components/morrisjs/morris.min.js" %}"></script>
    <script src="{% static "js/morris-data.js" %}"></script>

    <script>
        new Morris.Line({
            // ID of the element in which to draw the chart.
            element: 'season-1',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [
                {% for c in chart %}
                    {
                        Fixture: '{{ c.fixture }}',
                        Cost: '{{ c.value }}',
                        Influence: '{{ c.influence }}',
                        Creativity: '{{ c.creativity }}',
                        Threat: '{{ c.threat }}'
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            // The name of the data record attribute that contains x-values.
            xkey: 'Fixture',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['Cost','Influence','Creativity','Threat'],
            ymax: 150,
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['Cost','Influence','Creativity','Threat']
        });
    </script>

{% endblock extrajs %}